<nb-card>
  <nb-card-header>
    Video List
  </nb-card-header>
  <nb-card-header>
    <a class="btn btn-primary btn-with-icon" [routerLink]="['/pages/video/add']">
        <span><i class="nb-play"></i>Add Video</span>  
    </a>
  </nb-card-header>
  <nb-card-header>
    <form class="form-inline" #form="ngForm" novalidate (ngSubmit)="sorts= []; applyFilter = true; applySorting = false; getVideoList(1, form.value,'', applyFilter, applySorting)">
      <input type="text" class="form-control full-width margin-5" ngModel name="title" #title="ngModel" placeholder="Title">
      <!-- <input type="text" class="form-control full-width margin-5" ngModel name="author" #author="ngModel" placeholder="Author"> -->
      <input type="text" class="form-control full-width margin-5" ngModel name="tags" #tags="ngModel" placeholder="tag">
      <button type="submit" class="btn btn-primary mr-1 mb-1">Search</button>
      <button type="button" class="btn btn-primary mr-1 mb-1 reset" (click)="sorts= []; applyFilter = false; applySorting = false; form.reset(); getVideoList(1, form.value,'', applyFilter, applySorting)">Reset</button>
    </form>
  </nb-card-header>
  <nb-card-body>
    <ngx-datatable class="material" [rows]="rows"  [columnMode]="'force'" [rowHeight]="'auto'" [headerHeight]="50" [footerHeight]="50" [loadingIndicator]="loading" [count]="data?.count" [offset]="data?.currentPage - 1" [externalPaging]="true" [limit]="limit" [externalSorting]="true" (sort)="applySorting = true; getVideoList(1, form.value, $event, applyFilter ,applySorting)" [sorts]="sorts">
      <ngx-datatable-column name="Sequence" prop="seq_no"></ngx-datatable-column>
      <ngx-datatable-column name="Title" prop="title"></ngx-datatable-column>
      <!-- <ngx-datatable-column name="Author" prop="author"></ngx-datatable-column> -->
      <ngx-datatable-column name="Tags" prop="tags"></ngx-datatable-column>
      <ngx-datatable-column name="Action"  [sortable]="false" >
        <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
          <nb-actions size="medium">
            <nb-action icon="nb-edit" (click)="edit(row)" title='Edit Video'></nb-action>
            <nb-action icon="nb-trash" (click)="delete(row.id)" title='Delete Video'></nb-action>
          </nb-actions>
        </ng-template>
      </ngx-datatable-column>
      <ngx-datatable-footer>
        <ng-template ngx-datatable-footer-template let-rowCount="rowCount" let-pageSize="pageSize" let-curPage="curPage" let-offset="offset" let-isVisible="isVisible">
          <div class="cust-page">
            <span *ngIf="rowCount">          
          Page {{curPage}} of {{Math.ceil(rowCount/limit)}} ({{rowCount}} items)
        </span>
          </div>
          <datatable-pager [pagerLeftArrowIcon]="'datatable-icon-left'" [pagerRightArrowIcon]="'datatable-icon-right'" [pagerPreviousIcon]="'datatable-icon-prev'" [pagerNextIcon]="'datatable-icon-skip'" [page]="curPage" [size]="pageSize" [count]="rowCount" [hidden]="!((rowCount / pageSize) > 1)" (change)="getVideoList($event.page, form.value, $event, applyFilter ,applySorting)">
          </datatable-pager>
        </ng-template>
      </ngx-datatable-footer>
    </ngx-datatable>
  </nb-card-body>
  <!-- <nb-card-body>
    <table class="table">
      <thead>
        <tr>
          <th>Title</th>
          <th>Author</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let visual of visualList">
          <td>{{ visual.title }}</td>
          <td>{{ visual.author }}</td>
          <td>
            <nb-actions size="medium">
              <nb-action icon="nb-edit" (click)="edit(visual)"></nb-action>
              <nb-action icon="nb-trash" (click)="delete(visual.id,visual.user_id)"></nb-action>
              
            </nb-actions>
          </td>
        </tr>
      </tbody>
    </table>
  </nb-card-body> -->
</nb-card>
