<nb-card>
  <nb-card-header>
    University List
  </nb-card-header>
  <!-- <nb-card-header>
    <div class="form-group row">
       <label for="type" class="col-4 col-md-2 col-form-label">Select Country:</label>
      <div class="col-12 col-md-10">        
        <select class="form-control" name="type" [(ngModel)]="model.country_id" (change)="changeListener()">
          <option *ngFor="let country of countryList" [ngValue]="country.id">
            {{ country.name }}
          </option>
        </select>        
      </div> 
    </div>
  </nb-card-header> -->
  <nb-card-header>
    <a class="btn btn-primary btn-with-icon" [routerLink]="['/pages/university/add']" [queryParams]="{country_id: model.country_id}" >
        <span><i class="nb-play"></i>Add University</span>  
    </a>
  </nb-card-header>
  <nb-card-header>
    <form class="form-inline" #form="ngForm" novalidate (ngSubmit)="sorts= []; applyFilter = true; applySorting = false; getUniversityList(1, form.value,'', applyFilter, applySorting)">
      <input type="text" class="form-control full-width margin-5" ngModel name="name" #name="ngModel" placeholder="Name">
      <button type="submit" class="btn btn-primary mr-1 mb-1">Search</button>
      <button type="button" class="btn btn-primary mr-1 mb-1 reset" (click)="sorts= []; applyFilter = false; applySorting = false; form.reset(); getUniversityList(1, form.value,'', applyFilter, applySorting)">Reset</button>
    </form>
  </nb-card-header>
  <nb-card-body>
    <ngx-datatable class="material" [rows]="rows"  [columnMode]="'force'" [rowHeight]="'auto'" [headerHeight]="50" [footerHeight]="50" [loadingIndicator]="loading" [count]="data?.count" [offset]="data?.currentPage - 1" [externalPaging]="true" [limit]="limit" [externalSorting]="true" (sort)="applySorting = true; getUniversityList(1, form.value, $event, applyFilter ,applySorting)" [sorts]="sorts">
      <ngx-datatable-column name="Name" prop="name"></ngx-datatable-column>
      <ngx-datatable-column name="Action"  [sortable]="false" >
        <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
          <nb-actions size="medium">
            <nb-action icon="nb-edit" (click)="edit(row)" title='Edit University'></nb-action>
            <nb-action icon="nb-trash" (click)="delete(row.id)" title='Delete University'></nb-action>
          </nb-actions>
        </ng-template>
      </ngx-datatable-column>
      <ngx-datatable-footer>
        <ng-template ngx-datatable-footer-template let-rowCount="rowCount" let-pageSize="pageSize" let-curPage="curPage" let-offset="offset" let-isVisible="isVisible">
          <div class="cust-page">
            <span *ngIf="rowCount">          
          Page {{curPage}} of {{Math.ceil(rowCount/limit)}} ({{rowCount}} items)
        </span>
          </div>
          <datatable-pager [pagerLeftArrowIcon]="'datatable-icon-left'" [pagerRightArrowIcon]="'datatable-icon-right'" [pagerPreviousIcon]="'datatable-icon-prev'" [pagerNextIcon]="'datatable-icon-skip'" [page]="curPage" [size]="pageSize" [count]="rowCount" [hidden]="!((rowCount / pageSize) > 1)" (change)="getUniversityList($event.page, form.value, $event, applyFilter ,applySorting)">
          </datatable-pager>
        </ng-template>
      </ngx-datatable-footer>
    </ngx-datatable>
  </nb-card-body>  
</nb-card>
